header{
	color:white;
	font-weight: bold;
	font-size: larger;
    display:inline;
    background-color: #8DB2C7;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

h1{
	text-align: center;
}
.Register{
	margin-left: 40%
}
.Register input{
	margin:20px;
	padding: 10px;
	width: fit-content;
}
.Register input[type=submit]{
	margin-left: 10%;
}